

/* CSS for the navbar */
*{
margin: 0;
padding: 0;
}
.navbar {
  background-color: red; /* Set the background color */
  overflow: hidden; /* Hide the overflowing content */
}

/* CSS for the navbar links */
.navbar a {
  float: right; /* Float the links to the left */
  display: block; /* Display them as block elements */
  color: #f2f2f2; /* Set the text color */
  text-align: center; /* Center the text */
  padding: 31px 32px; /* Add padding */
  text-decoration: none; /* Remove underline */
}

/* Change the color of the navbar links on hover */
.navbar a:hover {
/* Set the background color */
  color: rgb(55, 55, 176); /* Change the text color */
}
.movie{
   position: absolute;
   right: 967px;
   font-size: 25px;
}
.movie:hover{
cursor: pointer;
}
a{
font-size: 20px;
}


